<h2>{{t "profile.general_informations.title"}}</h2>
<div class="row">
  <div class="col-lg form-group">
    <label for="userName">{{t "profile.general_informations.username"}}</label>
    {{input classNames="form-control" classNameBindings="model.validations.attrs.username.isValid:is-valid:is-invalid" id="userName" aria-describedby="userNameHelp" placeholder=(t "profile.general_informations.username_placeholder") type="text" value=model.username}}
    {{#if model.validations.attrs.username.isValid}}
      <small id="emailHelp" class="form-text text-muted">{{t "profile.general_informations.username_help"}}.</small>
    {{else}}
      <div class="invalid-feedback">{{model.validations.attrs.username.messages}}</div>
    {{/if}}
  </div>
  {{language-chooser}}
  <div class="col-lg form-group">
    <div class="form-group">
      <label for="currency">Currency</label>
      {{#power-select
        classNames="form-control"
        options=currencies
        searchField="name"
        selected=selectedCurrency
        onchange=(action "changeCurrency")
      as |currency|}}
        <strong>{{currency.code}}</strong>, {{currency.symbol}}, {{currency.name}}
      {{/power-select}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg form-group">
    <label for="country">{{t "profile.general_informations.country"}}</label>
    {{input classNames="form-control" classNameBindings="model.validations.attrs.country.isValid:is-valid:is-invalid" id="country" aria-describedby="countryHelp" placeholder=(t "profile.general_informations.country_placeholder") type="text" value=model.country}}
    {{#if model.validations.attrs.country.isValid}}
      <small id="countryHelp" class="form-text text-muted">{{t "profile.general_informations.country_help"}}</small>
    {{else}}
      <div class="invalid-feedback">{{model.validations.attrs.country.messages}}</div>
    {{/if}}
  </div>
  <div class="col-lg form-group">
    <label for="city">{{t "profile.general_informations.city"}}</label>
    {{input classNames="form-control" classNameBindings="model.validations.attrs.city.isValid:is-valid:is-invalid" id="city" aria-describedby="cityHelp" placeholder=(t "profile.general_informations.city_placeholder") type="text" value=model.city}}
    {{#if model.validations.attrs.city.isValid}}
      <small id="cityHelp" class="form-text text-muted">{{t "profile.general_informations.city_help"}}</small>
    {{else}}
      <div class="invalid-feedback">{{model.validations.attrs.city.messages}}</div>
    {{/if}}
  </div>
</div>
<div class="form-group">
  {{#if (and model.hasDirtyAttributes model.validations.isValid)}}
    <button type="button" class="btn btn-primary" {{action "save"}}>{{fa-icon "save"}} {{t "actions.save"}}</button>
  {{else}}
    <button type="button" class="btn btn-outline-primary" disabled>{{fa-icon "save"}} {{t "actions.save"}}</button>
  {{/if}}
</div>