{{#liquid-bind model as |reading|}}
  
<div class="row align-items-center">
  <div class="col-1">
    {{#if previousReadingId}}
      {{#link-to "housings.meters.readings.edit" reading.meter.housing.id reading.meter.id previousReadingId}}
        {{fa-icon "angle-left" size="4"}}
      {{/link-to}}
    {{/if}}

  </div>
  <div class="col-10">
    <h2>{{fa-icon selectedType.icon}} {{reading.meter.name}}</h2>
    <h3>{{reading.meter.description}}</h3>
    <div class="row">
      <div class="col-lg form-group">
        <label for="readingDate">Date</label>

        {{#power-datepicker selected=reading.readingDate onSelect=(action (mut reading.readingDate) value="moment") as |dp|}}
          {{#dp.trigger tabindex="-1"}}
            <input type="text" class="form-control {{if reading.validations.attrs.readingDate.isValid "is-valid" "is-invalid"}}" readonly value={{moment-format reading.readingDate "D MMMM YYYY"}}>
          {{/dp.trigger}}

          {{#dp.content}}
            {{dp.nav}}
            {{dp.days}}
          {{/dp.content}}
        {{/power-datepicker}}

        {{#if reading.validations.attrs.readingDate.isValid}}
          <small id="readingDateHelp" class="form-text text-muted">{{t "profile.housings.meters.name_help"}}</small>
        {{else}}
          <div class="invalid-feedback">{{reading.validations.attrs.readingDate.messages}}</div>
        {{/if}}

      </div>
      <div class="col-lg form-group">
        <label for="readingValue">Value</label>
        <div class="input-group">
          {{input classNames="form-control" classNameBindings="reading.validations.attrs.readingValue.isValid:is-valid:is-invalid" aria-describedby="readingValueHelp" type="number" value=reading.readingValue}}
          <div class="input-group-append">
            <span class="input-group-text" id="meterUnit">{{{reading.meter.unit}}}</span>
          </div>
        </div>
        {{#if reading.validations.attrs.readingValue.isValid}}
          <small class="readingValueHelp" class="form-text text-muted">{{t "profile.housings.meters.name_help"}}</small>
        {{else}}
          <div class="invalid-feedback">{{reading.validations.attrs.readingValue.messages}}</div>
        {{/if}}
      </div>
      <div class="col-lg form-group">
        <label for="meterObservation">Observation</label>
        {{input class="form-control" aria-describedby="readingObservationHelp" type="text" value=reading.observation}}
        <small class="meterObservationHelp" class="form-text text-muted">{{t "profile.housings.description_help"}}</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        {{#if reading.validations.isValid}}
          <button type="button" class="btn btn-primary" {{action "save"}}>{{fa-icon "save"}} {{t "actions.save"}}</button>
        {{else}}
          <button type="button" class="btn btn-outline-primary" disabled>{{fa-icon "save"}} {{t "actions.save"}}</button>
        {{/if}}
        {{#if (not reading.isNew)}}
          <button class="btn btn-danger" {{action "delete"}}>{{fa-icon "trash"}} {{t "actions.delete"}}</button>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-1">
    {{#if nextReadingId}}
      {{#link-to "housings.meters.readings.edit" reading.meter.housing.id reading.meter.id nextReadingId}}
        {{fa-icon "angle-right" size="4"}}
      {{/link-to}}
    {{/if}}
  </div>
</div>
{{/liquid-bind}}
