<div class="row mt-3">
  <div class="col-lg form-group">
    <label for="housingName">{{t "profile.housings.name"}}</label>
    {{input classNames="form-control" classNameBindings="model.validations.attrs.name.isValid:is-valid:is-invalid" id="housingName" aria-describedby="housingNameHelp" placeholder=(t "profile.housings.name_placeholder") type="text" value=model.name}}
    {{#if model.validations.attrs.name.isValid}}
      <small id="housingNameHelp" class="form-text text-muted">{{t "profile.housings.name_help"}}.</small>
    {{else}}
      <div class="invalid-feedback">{{model.validations.attrs.name.messages}}</div>
    {{/if}}
  </div>
  <div class="col-lg form-group">
    <label for="housingDescription">{{t "profile.housings.description"}}</label>
    {{input classNames="form-control" classNameBindings="model.validations.attrs.description.isValid:is-valid:is-invalid" id="housingDescription" aria-describedby="housingDescriptionHelp" placeholder=(t "profile.housings.name_placeholder") type="text" value=model.description}}
    {{#if model.validations.attrs.description.isValid}}
      <small id="housingDescriptionHelp" class="form-text text-muted">{{t "profile.housings.description_help"}}</small>
    {{else}}
      <div class="invalid-feedback">{{model.validations.attrs.description.messages}}</div>
    {{/if}}
  </div>
</div>

{{#if (and model.validations.isValid model.hasDirtyAttributes)}}
  <button type="button" class="btn btn-primary" {{action "save"}}>{{fa-icon "save"}} {{t "actions.save"}}</button>
{{else}}
  <button type="button" class="btn btn-outline-primary" disabled>{{fa-icon "save"}} {{t "actions.save"}}</button>
{{/if}}

{{#if (not model.isNew)}}
  <h4 class="mt-3">{{t "profile.housings.meters.title"}} {{#link-to "profile.housings.edit.meters.edit" model.id "new" classNames="btn btn-primary"}}{{fa-icon "plus"}} <span class="d-none d-sm-inline">{{t "profile.housings.meters.add_meter"}}</span>{{/link-to}}</h4>

  <div class="row">
    <div class="col-12 col-lg-6">
      {{#if model.meters}}
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">{{t "profile.housings.meters.name"}}</th>
            <th scope="col">{{t "profile.housings.meters.type"}}</th>
            <th scope="col">{{t "profile.housings.meters.reference"}}</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          {{#each model.meters as |meter|}}
            <tr class={{if (eq meterEditController.model.id meter.id) "table-active" ""}}>
              <th scope="row">{{meter.name}}</th>
              <th scope="row">{{meter.type}}</th>
              <th scope="row">{{meter.reference}}</th>
              <td>
                {{#if (not meter.isNew)}}
                  {{#link-to "profile.housings.edit.meters.edit" model.id meter.id classNames="btn btn-primary"}}{{fa-icon "pencil"}} <span class="d-none d-sm-inline">{{t "actions.edit"}}</span>{{/link-to}}
                {{/if}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{else}}
        {{t "profile.housings.meters.no_meter"}}
      {{/if}}
    </div>
    <div class="col-12 col-lg-6">
      {{outlet}}
    </div>
  </div>
{{/if}}






