<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-2 text-center mt-5">
      <ul class="nav flex-row flex-md-column nav-pills">
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{fa-icon "user-circle"}} {{t "profile.title"}}</a>
        </li>
        <li class="nav-item">
          {{#link-to "profile.index" classNames="nav-link"}}{{fa-icon "info-circle"}} <span class="d-none d-sm-inline">{{t "profile.general_informations.title"}}</span>{{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "profile.housings" classNames="nav-link"}}{{fa-icon "home"}} <span class="d-none d-sm-inline">{{t "profile.housings.title"}}</span>{{/link-to}}
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-10">
      <div class="mt-3">
        {{outlet}}
      </div>
    </div>
  </div>

</div>

